
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
                         /* header */
.header{
	background-position: center;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.phone {
	width: 30px;
	height: 30px;
	position: absolute;
}

.email {
	width: 30px;
	height: 30px;
	position: absolute;
}
#p1 {
	position: absolute;
	left: 280px;
	top: 25px;
	color: white;
}
#p2 {
	position: absolute;
	left: 465px;
	top: 25px;
	color: white;
}
.imag{
    float: left;
    width: 117px;
    height: 57px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.header ul {
    float: right;
    position: absolute;
    left: 655px;
    top: 25px; 
 ;
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 27px;
}
a{
    text-decoration: none;
    color: white;
}
                      /* container */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    margin: 40px;
  }
  .grid-container > div {
    background-color: rgba(138, 121, 121, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
.page1,.page2,.page3,.page4,.page5,.page7,.page9,.page8, .page11,.page12.page13,.page14,.page15{
    height: 300px;
    background-position: center;
    background-size: cover;
  }
.page10{
    background-image: url(images/page10.jpg); 
    background-size: cover
}
.page1{
    background-image: url(images/page1.jpg);
}
.page2{
    background-image: url(images/page2.jpg);
}
.page3{
    background-image: url(images/page3.jpg);
}
.page4{
    background-image: url(images/page4.jpg);
}
.page5{
    background-image: url(images/page5.jpg);  
}
.page6{
    background-image: url(images/page6.jpg);
}
.page7{
    background-image: url(images/page7.jpg);
}
.page8{
    background-image: url(images/page8.jpg);
}
.page9{
    background-image: url(images/page9.jpg);
}
.page11{
    background-image: url(images/page11.jpg);
}
.page12{
    background-image: url(images/page12.jpg);
}

.Menu1 { 
    position: absolute;
    left: 118px;
    margin-top:-89px;
}
   div .paragraphe {
   	color: #688095;
   	font-weight: bold;
   }
   #check,.header label img{
		display: none;
   }
   #checkmenu{
    display: none;
    
    }
/*------------start style footer--------------*/

.section{
    background-color: #FAFAFA;
    margin-top: 3%;
  }
  .section .infooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0% 10% 0% 10%;
  }
  .section .infooter .d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section .infooter .d1,.d2,.d3{
          margin-top: 7%;
          margin-bottom: 7%;
      }
  .section .infooter a{
    font-family: Open Sans;
    font-weight: normal;
   color: #AAA9A9;
   text-decoration: none;
  }
  .section .infooter .img{
      width: 200px;
      height: 100px;
  }
  
  .section .infooter .p{
    margin-left: 7%;
    margin-top: 5%;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color: #04151F;
      width: 300px;
      height: 54px;
  
  }
  .section .infooter .QL{
    width: 100%;
    display: flex;
    margin-top: 16%;
  
  }
  .section .infooter .ul2{
  margin-left: 1%;  
  
  }
  .section .infooter .ul1,.ul2{
  width: 146px;
  
  
  }
  .section .infooter li{
  list-style: none;
  line-height: 30px;
  text-align: center;  
  }
  .section .infooter h3{
    margin-top: 2%;
    color: #688095;
    font-family: Open Sans ExtraBold;
    font-weight: normal;
    text-align: center;
  }
  .section .infooter p{
    margin-top: 5%;
     margin-bottom: 5%;
    text-align: center;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color:#AAA9A9 ;
     margin-left: 32px;
  }
  .section .infooter .s1,.s2{
      font-size:20px ;
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #2C4458;
      margin-top: 2%;
      margin-left: 47px;
  }
  .section .infooter #mail{
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #688095;
    }
    .footer{
         background-color: #688095;
         flex-basis: 100%;
         height: 50px; 
         display: flex;
         flex-wrap: wrap;
     }
     .footer span{
         color:#CCCCCC; 
         font-family: Open Sans ;
         font-weight: normal;
  
     }
     .section .infooter .icons i{
      color: black;
      font-size: 30px;
     }
     
     .footer .S1{
      float: left;
      padding-left: 105px;
      margin-top: 15px;
      font-family: Open Sans;
      font-weight: normal;
      color: #CCCCCC;}
      .c h2{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        font-size: 70px;
        font-family: Segoe UI;
        font-weight: normal;
        color: #2D51A3;
      }
      h2:hover {
           color: #7BA0F3;
      }

   @media (max-width: 1515px) 

{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .header_menu{
        display: none;

    }
     #menu{
        float: left;
        left: 0;
        
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
        height: 70%;
    }
    #menu li{
        display: block;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        width: 97%;
        height: 11.3%
    }
    #menu li a{
        font-size: 25px;
        font-family: Segoe UI;
        font-weight: normal;
    }
    #p1, #p2 {
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;
    }
    #menu li:hover {
        background-color:#7BA0F3;
    }
    .grid-container{
        grid-template-columns: auto auto;
    }
    .page10{
        background-image: url(images/page10.jpg); 
        background-size: cover
}
    }
    .page1{
        background-image: url(images/page1.jpg);
        background-position: center;
    }
    .page2{
        background-image: url(images/page2.jpg);
        background-position: center;
    }
    .page3{
        background-image: url(images/page3.jpg);
        background-position: center;
    }
    .page4{
        background-image: url(images/page4.jpg);
        background-position: center;
    }
    .page5{
        background-image: url(images/page5.jpg);  
        background-position: center;
    }
    .page6{
        background-image: url(images/page6.jpg);
        background-size: contain;
       
    }
    .page7{
        background-image: url(images/page7.jpg);
        background-position: center;
    }
    .page8{
        background-image: url(images/page8.jpg);
        background-position: center;
     
    }
    .page9{
        background-image: url(images/page9.jpg);
        background-position: center;
    }
    .page11{
        background-image: url(images/page11.jpg);
        background-position: center;
        background-size: cover;
    }
    .page12{
        background-image: url(images/page12.jpg);
        background-position: center;
        background-size: cover
    }
  
}
