
body{
    margin: 0;
    padding: 0;
   overflow-x: hidden;
}
   
.header{
	background-position: center;
    background-image: url(images/header.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.phone {
	width: 30px;
	height: 30px;
	position: absolute;
}

.email {
	width: 30px;
	height: 30px;
	position: absolute;
}
#p1 {
	position: absolute;
	left: 280px;
	top: 25px;
	color: white;
}
#p2 {
	position: absolute;
	left: 465px;
	top: 25px;
	color: white;
}
.imag{
    float: left;
    width: 117px;
    height: 57px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.header ul {
    float: right;
    position: absolute;
    left: 655px;
    top: 25px; 
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 27px;
}
a{
    text-decoration: none;
    color: white;
}
.home-heading{
    color: white;
    font-size: 30px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
.text1{  /*first div in container */
    color: #357AB4;
    text-align: center; font-size: 39px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.divimages{

    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: gainsboro;
    flex-wrap: wrap;
    
    }

.imag1{

    width: 250px;
    height: 309px;
    background-image: url(images/page5.jpg);
    background-size: cover;
}
.imag2{

    background-image: url(images/page3.jpg);
    background-size: cover;
    width: 250px;
    height: 310px;
}
.imag3{
 
    background-image: url(images/page1.jpg);
    background-size: cover;
    width: 250px;
    height: 310px;
}
.imag4{
    background-image: url(images/page6.jpg);
    background-size: cover;
    width: 250px;
    height: 310px;
}
.imag5{
    background-image: url(images/page7.jpg);
    background-size: cover;
    width: 250px;
    height: 310px;
    position: relative;

}
h6{
  margin-top: 100px;
  text-align: center;
  color: white;
}
.text2{  /*secend (div2) in container */
    color: #357AB4;
    text-align: center; 
    font-size: 20px;
    text-align: left;
    padding-left: 33px;
    width: 100%; 
    background-color: #FAFAFA;
    margin-bottom: 20px;
}
.titlediv2{
    text-align: center;
    font-size: 39px;
}
.text3{     /*the tird (div3) in container */
    color: #357AB4;
    text-align: center; 
    font-size: 20px;
    text-align: left;
    padding-left: 33px;
    width: 100%;
    background-color: #FAFAFA;
    margin-bottom: 20px;
}
.titlediv3{  /* title div3 */
    text-align: center;
    font-size: 39px;
}
span{
    color:#357AB4 ;
}

.Menu1 { 
 position: absolute;
 left: 118px;
 margin-top:-89px;
}
div .paragraphe {
    color: #688095;
    font-weight: bold;
}


#check,.header label img{
     display: none;
}
#checkmenu{
display: none;

}
.container{
    display: flex;
    margin-top: 100px;
flex-wrap: wrap;
justify-content:center;
}
.c h2{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 70px;
      font-family: Segoe UI;
      font-weight: normal;
      color: #2D51A3;
  }
  h2:hover {
       color: #7BA0F3;
  }
/*------------start style footer--------------*/

.section{
    background-color: #FAFAFA;
    margin-top:-3%;
  
  }
  .section .infooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0% 10% 0% 10%;
  }
  .section .infooter .d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section .infooter .d1,.d2,.d3{
          margin-top: 7%;
          margin-bottom: 7%;
      }
  .section .infooter a{
    font-family: Open Sans;
    font-weight: normal;
   color: #AAA9A9;
   text-decoration: none;
  }
  .section .infooter .img{
  
      width: 200px;
      height: 100px;
  
  }
  
  .section .infooter .p{
    margin-left: 7%;
    margin-top: 5%;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color: #04151F;
      width: 300px;
      height: 54px;
  
  }
  .section .infooter .QL{
    width: 100%;
    display: flex;
    margin-top: 16%;
  
  }
  .section .infooter .ul2{
  margin-left: 1%;  
  
  }
  .section .infooter .ul1,.ul2{
  width: 146px;
  
  
  }
  .section .infooter li{
  list-style: none;
  line-height: 30px;
  text-align: center;  
  }
  .section .infooter h3{
    margin-top: 2%;
    color: #688095;
    font-family: Open Sans ExtraBold;
    font-weight: normal;
    text-align: center;
  }
  .section .infooter p{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color:#AAA9A9 ;
     margin-left: 32px;
  }
  .section .infooter .s1,.s2{
      font-size:20px ;
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #2C4458;
      margin-top: 2%;
      margin-left: 47px;
  }
  .section .infooter #mail{
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #688095;
    }
    .footer{
         background-color: #688095;
         flex-basis: 100%;
         height: 50px; 
         display: flex;
         flex-wrap: wrap;
     }
     .footer span{
         color:#CCCCCC; 
         font-family: Open Sans ;
         font-weight: normal;
  
     }
     .section .infooter .icons i{
      color: black;
      font-size: 30px;
     } 
     .footer .S1{
      float: left;
      padding-left: 105px;
      margin-top: 15px;
      font-family: Open Sans;
      font-weight: normal;
      color: #CCCCCC;
      margin: auto;
    } 
 @media (max-width: 1515px) /* media header */
{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .header_menu{
        display: none;

    }
     #menu{
        float: left;
        left: 0;
       
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
        height: 70%;
    }
    #menu li{
        display: block;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        width: 97%;
        height: 11.3%
    }
    #menu li a{
        font-size: 25px;
        font-family: Segoe UI;
        font-weight: normal;
    }
    #p1, #p2 {
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;
    }
    #menu li:hover {
        background-color:#7BA0F3;
    }
    
} 
