/*------------start header style--------------------*/

body{
    margin: 0;
    padding: 0;
   overflow-x: hidden;
}
   
.header{
	background-position: center;
    background-image: url(images/2silder.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.phone {
	width: 30px;
	height: 30px;
	position: absolute;
}

.email {
	width: 30px;
	height: 30px;
	position: absolute;
}
#p1 {
	position: absolute;
	left: 280px;
	top: 25px;
	color: white;
}
#p2 {
	position: absolute;
	left: 465px;
	top: 25px;
	color: white;
}
.imag{
    float: left;
    width: 117px;
    height: 57px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.header ul {
    float: right;
    position: absolute;
    left: 655px;
    top: 25px; 
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 27px;
}
a{
    text-decoration: none;
    color: white;
}
.home-heading{
    color: white;
    font-size: 30px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
#checkmenu{
display: none;
visibility:hidden;

}

/*--------------start responsive menu,header----------------*/

@media (max-width: 1100px) 
{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .header_menu{
        display: none;

    }
     #menu{
        float: left;
        left: 0;
       
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
        height: 70%;
    }
    #menu li{
        display: block;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        text-align: left;
        width: 97%;
        height: 11.3%
    }
    #menu li a{
        font-size: 25px;
        font-family: Segoe UI;
        font-weight: normal;
    }
    #p1, #p2 {
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;
    }
    #menu li:hover {
    	background-color:#7BA0F3;
    }

  
}
/*----------------End style header-------------------------*/
/*----------------start container--------------------*/


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
/*    margin-top: 10%;*/
}
.container .div img{
    width: 475px;
    height: 300px;
}



.div{
width: 33%;
}


@media (max-width:660px)
{
  .div{
width: 100%;
}
    }
/*------------start style footer--------------*/
.pp {
    position: absolute;
    font-size: 71PX;
    text-align: center;
    display: flex;
    margin-left: 850PX;
}

.pra {
margin-top: 80px;
}

.section{
  background-color: #FAFAFA;
  margin-top: 3%;

}
.section .infooter{
  display: flex;
  margin-top: 175px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0% 10% 0% 10%;
}
.section .infooter .d1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .infooter .d1,.d2,.d3{
		margin-top: 7%;
		margin-bottom: 7%;
	}
.section .infooter a{
  font-family: Open Sans;
  font-weight: normal;
 color: #AAA9A9;
 text-decoration: none;
}
.section .infooter .img{

    width: 200px;
    height: 100px;

}

.section .infooter .h{
  margin-left: 7%;
  margin-top:85%;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color: #04151F;
    width: 300px;
    height: 40px;

}
.section .infooter .QL{
  width: 100%;
  display: flex;
  margin-top: 16%;

}
.section .infooter .ul2{
margin-left: 1%;  

}
.section .infooter .ul1,.ul2{
width: 146px;


}
.section .infooter li{
list-style: none;
line-height: 30px;
text-align: center;  
}
.section .infooter h3{
  margin-top: 2%;
  color: #688095;
  font-family: Open Sans ExtraBold;
  font-weight: normal;
  text-align: center;
}
.section .infooter p{
  margin-top: 5%;
   margin-bottom: 5%;
  text-align: center;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color:#AAA9A9 ;
   margin-left: 32px;
}
.section .infooter .s1,.s2{
    font-size:20px ;
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #2C4458;
    margin-top: 2%;
    margin-left: 47px;
}
.section .infooter #mail{
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #688095;
  }
  .footer{
       background-color: #688095;
       flex-basis: 100%;
       height: 50px; 
       display: flex;
       flex-wrap: wrap;
   }

   

   .footer span{
       color:#CCCCCC; 
       font-family: Open Sans ;
       font-weight: normal;

   }
  
   
   .footer .S1{
    float: left;
    padding-left: 105px;
    margin-top: 15px;
    font-family: Open Sans;
    font-weight: normal;
    color: #CCCCCC;
    margin: auto;
}

.section .infooter .icons #facebook{
    color: blue;
    font-size: 30px;
}
.section .infooter .icons #instagram{
    color: #FD1D1D ;
    font-size: 30px;
}
.section .infooter .icons #twitter{
    color: #0099FF;
    font-size: 30px;
}