*{
	padding: 0;
	margin: 0;
/*  overflow-x: hidden;*/
}

/*------------start header style--------------------*/

.header{
    background-image: url(images/7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}
.phone {
    width: 30px;
    height: 30px;
    
}

.email {
    width: 30px;
    height: 30px;
    margin-left: 200px;
    margin-top: 0px;
}
#p1 {
    position: absolute;
    left: 280px;
    top: 25px;
    color: white;
}
#p2 {
    position: absolute;
    left: 465px;
    top: 25px;
    color: white;
}
.imag{
    float: left;
    width: 117px;
    height: 57px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.header ul {
    float: right;
    position: absolute;
    left: 695px;
    top: 25px; 
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 27px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Segoe UI;
    font-weight: normal; 
}
.home-heading{
    color: white;
    font-size: 30px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
#checkmenu{
display: none;
visibility:hidden;

}
/*--------------start responsive menu,header----------------*/

@media (max-width: 1100px) 
{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .header_menu{
        display: none;

    }
     #menu{
        float: left;
        left: 0;
      
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
        height: 70%;
    }
    #menu li{
        display: block;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        text-align: left;
        width: 97%;
        height: 11.3%
    }
    #menu li a{
        font-size: 25px;
        font-family: Segoe UI;
        font-weight: normal;
    }
    #p1, #p2 {
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;
    }
    #menu li:hover {
    	background-color:#7BA0F3;
    }
}
/*----------------End style header-------------------------*/

/*--------------start style  container page----------------*/
.c h2{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-size: 70px;
    font-family: Segoe UI;
    font-weight: normal;
    color: #2D51A3;
}
.c:hover h2{
     color: #7BA0F3;
}
.container{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.div{
     border: 0.5px solid black;
     width: 450px;
     height: 450px;
     margin: 10px;
     
}
.div #f{
    margin-left: 45%;
    padding-bottom: 2%;
}
.div i{
    font-size: 100px;
    margin-top: 13%;
    margin-left: 37%;
    color:#2D51A3 ;
    border-bottom:4px solid #2D51A3; 
}
.div:hover i{
     color: #7BA0F3;
}
.a1{
    font-size: 25px;
    font-family: Open Sans;
    font-weight: normal;
    margin-top: 20%;
    margin-left: 26%;
}
.a2{
    font-size: 25px;
    font-family: Open Sans Regular;
    margin-top: 20%;
    margin-left: 10%;
}
.a3{
    font-size: 25px;
    font-family: Open Sans Regular;
    margin-top: 20%;
    margin-left: 17%;
}
.m{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
}
.p{
    font-size: 70px;
    font-family: Segoe UI;
    font-weight: normal;
    color: #2D51A3;
    border-bottom:4px solid #2D51A3; 
    margin-bottom: 10%;
}
.pp{
    font-size: 38px;
    font-family: Segoe UI;
    margin-left: 24px;
    font-weight: normal;
    text-align: center;
}
.form {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;

}
 .inpt1{
     border: 0.5px solid black;
     width: 400px;
     height: 50px;
     margin: 10px;
     background-color: #FFFCFC;
     border-radius: 5px;
     padding-left: 10px;
}
 .txtA{
     border: 0.5px solid black;
     width: 1625px;
     height: 150px;
     margin: 29px;
     background-color: #FFFCFC;
     border-radius: 10px;
     padding-left: 10px;
}
.btn{

    font-family: Segoe UI;
    height: 54px;
    width: 220px;
    border-radius: 10px;
    background-color: #2D51A3;
    color: white;
    border: 2px;
    font-size: 20px;
    margin-top: 2%;
}
.btn:hover{
  background-color: white;
  color: black;
  border:2px solid black;
}

/*------------start style footer--------------*/

.section{
  background-color: #FAFAFA;
  margin-top: 3%;
  fgfgfg;

}
.section .infooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0% 10% 0% 10%;
}
.section .infooter .d1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .infooter .d1,.d2,.d3{
		margin-top: 7%;
		margin-bottom: 7%;
	}
.section .infooter a{
  font-family: Open Sans;
  font-weight: normal;
 color: #AAA9A9;
 text-decoration: none;
}
.section .infooter .img{

    width: 200px;
    height: 100px;

}

.section .infooter .h{
  margin-left: 7%;
  margin-top: 5%;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color: #04151F;
    width: 300px;
    height: 40px;

}
.section .infooter .QL{
  width: 100%;
  display: flex;
  margin-top: 16%;

}
.section .infooter .ul2{
margin-left: 1%;  

}
.section .infooter .ul1,.ul2{
width: 146px;


}
.section .infooter li{
list-style: none;
line-height: 30px;
text-align: center;  
}
.section .infooter h3{
  margin-top: 2%;
  color: #688095;
  font-family: Open Sans ExtraBold;
  font-weight: normal;
  text-align: center;
}
.section .infooter p{
  margin-top: 5%;
   margin-bottom: 5%;
  text-align: center;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color:#AAA9A9 ;
   margin-left: 32px;
}
.section .infooter .s1,.s2{
    font-size:20px ;
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #2C4458;
    margin-top: 2%;
    margin-left: 47px;
}
.section .infooter #mail{
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #688095;
  }
  .footer{
       background-color: #688095;
       flex-basis: 100%;
       height: 50px; 
       display: flex;
       flex-wrap: wrap;
   }
   .footer span{
       color:#CCCCCC; 
       font-family: Open Sans ;
       font-weight: normal;

   }
   .section .infooter .icons #facebook{
   	color: blue;
   	font-size: 30px;
   }
   .section .infooter .icons #instagram{
   	color: #FD1D1D ;
   	font-size: 30px;
   }
   .section .infooter .icons #twitter{
   	color: #0099FF;
   	font-size: 30px;
   }
   
   .footer .S1{
    float: left;
    padding-left: 105px;
    margin-top: 15px;
    font-family: Open Sans;
    font-weight: normal;
    color: #CCCCCC;
    margin: auto;
}
 