*{
    padding: 0;
    margin: 0;
/*  overflow-x: hidden;*/
}

/*------------start header style--------------------*/

.header{
    background-image: url(images/6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
}

#tel {
    position: absolute;
    left: 280px;
    top: 25px;
    color: white;
}
#email {
    position: absolute;
    left: 465px;
    top: 25px;
    color: white;
}
.imag{
    float: left;
    width: 117px;
    height: 57px;
    position: absolute;
    left: 20px;
    top: 15px;
}
.header ul {
    float: right;
    position: absolute;
    left: 655px;
    top: 25px; 
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 27px;
}
a{
    text-decoration: none;
    color: white;
    font-family: Segoe UI;
    font-weight: normal; 
}
.home-heading{
    color: white;
    font-size: 30px;
    padding-top: 100px;
    margin: auto;
    text-align: center;
}
#checkmenu{
display: none;
visibility:hidden;

}
/*--------------start responsive menu,header----------------*/
@media (max-width: 1470){

     #menu li a{
         margin-left:  30px;
        font-size: 20px !important;
        
    }
}
@media (max-width: 1100px) 
{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .header_menu{
        display: none;

    }
     #menu{
        float: left;
        left: 0;
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
        height: 70%;
    }
    #menu li{
        display: block;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        text-align: left;
        width: 97%;
        height: 11.3%
    }
    #menu li a{
        font-size: 25px;
        font-family: Segoe UI;
        font-weight: normal;
    }
    #tel, #email {
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;
    }
    #menu li:hover {
        background-color:#7BA0F3;
    }
}
/*----------------End style header-------------------------*/

/*--------------start style  container page----------------*/
.c h2{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-size: 70px;
    font-family: Segoe UI;
    font-weight: normal;
    color: #2D51A3;
}
h2:hover {
     color: #7BA0F3;
}
/*--------------start style  section ----------------*/
#container .section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#container .section .h{
    font-size: 54px;
    font-family: Segoe UI;
    font-weight: normal;
    margin-top: 2%;
}
#container .section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#container .section img{
    margin-top: 2%;
}
#container .section p{
    text-align: justify;
    padding-left: 16%;
    margin-right:16%;
    margin-top: 2%;
    font-size: 23px;
    font-family: Segoe UI;
    font-weight: normal;
}
.i{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50%;
  width: 26%;
}
.i i{
    font-size: 190%;
    margin-left: 16%;
}
 .i i:hover{
    color: #0099FF;
}
#heart:hover{
    color: red;
}
@media (max-width: 1320px){
    img{
        width:1100px;
        height: 540px; 
    }
    .h{
       font-size: 40px !important;
    }
    .parag{
        font-size: 22px !important;
    }
    .btn{
         height: 50px;
         width: 200px;
         font-size: 17px;
    }
}
@media (max-width: 1120px){
    img{
        width:900px;
        height: 500px; 
    }
    .h{
       font-size: 30px !important;
    }
     .parag{
        font-size: 21px !important;
    }
  
    .i i{
    
        font-size: 100%;
        margin-left: 10%; 
    }
    .i{
        margin-right: 20%;
    }
}
@media (max-width: 918px){
    img{
        width:700px;
        height: 400px; 
    }
    .h{
       font-size: 27px !important;
    }
     .parag{
        font-size: 19px !important;
    }

}
@media (max-width: 720px){
    img{
        width:480px;
        height: 300px; 
    }
     .h{
       font-size: 20px !important;
       text-decoration:underline;
    }
     .parag{
        font-size: 18px !important;
    }
 
}









/*------------start style footer--------------*/

.section{
  background-color: #FAFAFA;
  margin-top: 3%;

}
.section .infooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0% 10% 0% 10%;
}
.section .infooter .d1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .infooter .d1,.d2,.d3{
        margin-top: 7%;
        margin-bottom: 7%;
    }
.section .infooter a{
  font-family: Open Sans;
  font-weight: normal;
 color: #AAA9A9;
 text-decoration: none;
}
.section .infooter .img{

    width: 200px;
    height: 100px;

}

.section .infooter .p{
  margin-left: 7%;
  margin-top: 5%;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color: #04151F;
    width: 300px;
    height: 54px;

}
.section .infooter .QL{
  width: 100%;
  display: flex;
  margin-top: 16%;

}
.section .infooter .ul2{
margin-left: 1%;  

}
.section .infooter .ul1,.ul2{
width: 146px;


}
.section .infooter li{
list-style: none;
line-height: 30px;
text-align: center;  
}
.section .infooter h3{
  margin-top: 2%;
  color: #688095;
  font-family: Open Sans ExtraBold;
  font-weight: normal;
  text-align: center;
}
.section .infooter p{
  margin-top: 5%;
   margin-bottom: 5%;
  text-align: center;
   font-family: Open Sans;
   font-weight: normal;
   font-size: 20px;
   color:#AAA9A9 ;
   margin-left: 32px;
}
.section .infooter .s1,.s2{
    font-size:20px ;
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #2C4458;
    margin-top: 2%;
    margin-left: 47px;
}
.section .infooter #mail{
    font-family:Open Sans ExtraBold;
    font-weight:normal; 
    color: #688095;
  }
  .footer{
       background-color: #688095;
       flex-basis: 100%;
       height: 50px; 
       display: flex;
       flex-wrap: wrap;
   }
   .footer span{
       color:#CCCCCC; 
       font-family: Open Sans ;
       font-weight: normal;

   }
  .section .infooter .icons #facebook{
    color: blue;
    font-size: 30px;
   }
   .section .infooter .icons #instagram{
    color: #FD1D1D ;
    font-size: 30px;
   }
   .section .infooter .icons #twitter{
    color: #0099FF;
    font-size: 30px;
   }
   
   .footer .S1{
    float: left;
    padding-left: 105px;
    margin-top: 15px;
    font-family: Open Sans;
    font-weight: normal;
    color: #CCCCCC;
    margin: auto;
    }