body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    width: 102%;
}
.header{
    background-image: url(images/A.jpg);
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 710px;
}
.header {
  overflow: hidden;
}
#p1 {
	position: absolute;
	left: 240px;
	top: 9px;
	color: white;
  display: flex;
  flex-wrap: wrap;
}
#p2 {
	position: absolute;
	left: 430px;
	top: 9px;
	color: white;
  display: flex;
  flex-wrap: wrap;
}
.imag{
    float: left;
    width: 110px;
    height: 50px;
    position: absolute;
    left: 30px;
    top: 8px;
}
.header ul {
    float: right;
    margin-right: 22px;
    margin-top:25px; 
}
.header ul li{
    display: inline;
    list-style: none;
    margin-right: 30px;
}
a{
    text-decoration: none;
    color: white;
}
.para{
    color: white;
    font-family: Raleway;
    font-size: 60px;
    margin-top: 100px;
    padding: 20px;
    margin-left: 60px;
}
.para2{
    color: #357AB4;
    font-family: Raleway;
    font-size: 30px;
    margin-left: 80px;
}
.explore{
    height: 30px;
    width: 120px;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 70px;
    padding-left: 10px;
    border: 0px;
}
.gra{
    font-weight: bold;
}
.pet{
    color: lightgray;
}
#checkmenu{
display: none;

}
@media (max-width: 700px) 
{
    .navicon{
        top: 30px;
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        cursor: pointer;
        margin-top: 7px;
    }

    .navmenu{
        right: 20px;
        position: absolute;
        cursor: pointer;
        top: 20px;
    }
    .navicon::before{
        position: relative;
        width: 100%;
        height: 100%;
        top: 7px;
        background-color: #fff;
    }
   .header_menu{
        display: none;
    }
   .para {
    display: block;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-right: 50px;
    margin-top: 225px;
    font-weight: bold;
   } 
   .para2 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    font-weight: bold;
   }
   .explore {
    display: none;
   }
   #menu li{
        display: block;
        margin-top: 10px;
        border: 1px solid #0D518C;
        background-color: #0D518C;
        margin: 5px;
        text-align: left;
        width: 97%;
    }
    #menu{
        float: left;
        left: 0;
     
        width: 100%;
        margin-top: 60px;
        background-color: #357AB4;
        padding: 0px;
    }
    #menu li a{
        font-size: 20px;
        font-family: Segoe UI;
        font-weight: normal;
        margin-left: 20px;
    }
    #p1, #p2{
        display: none;
    }
    #checkmenu:checked ~ .header_menu{
        display: block;

    }
}
/* section-1 */
.section1{
    width: 100%;
    height: 370px;
    margin-top: -145px;
    margin-left: 780px;
    overflow: hidden;
}
.image {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    animation: 15s slider infinite;
}
.section1 .image img{
  width: 25%;
}
.desert #h1 {
    font-family: Open sans;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: -10em;
    margin-left: -715px;
} 
.desert #p11 {
    font-family: Raleway;
    font-size: 15px;
    position: absolute;
    margin-left: -715px;
    margin-top: -10em;

  }
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -20%;
  }
  45% {
    left: -30%;
  }
  50% {
    left: -40%;
  }
  70% {
    left: -50%;
  }
  75% {
    left: -60%;
  }
  95% {
    left: -70%;
  }
  100% {
    left: -71%;
  }
  }

 @media (max-width: 700px) {
    .section1 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .section .image img {
      width: 70%;
    }
    .image {
      display: flex;
      position: absolute;
      top: 58em;
      width: 170%;
      height: 45%;
    }
    .desert {
      margin-top: -215px;
      margin-left: -25px;
      padding-left: 10px;
      margin-right: -28px;
    }
    .desert #h1 {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 370px;
    margin-left: -630px;
   
    }
    .desert #p11 {
    display: block;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    margin-top: 405px;
    position: absolute;
    left: 795px;
    }

 }
/* section-2 */
.sect2 {
    background-image: url(images/image11.jpg);
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    margin-top: 88px;
}
.section2 {
  margin-top: 50px;
}
.sec2 {
    margin-left: 40.70%;
    margin-top: -5%;
    background-color: #E2EAF0;
    height: 575px;
    flex-basis: 60%;
    width: 1100px;
}
.sec2 img {
  float: left;
  height: 575px;
  width: 392px;
 } 
.par3 h1 {
    font-family: Open sans;
    font-weight: bold;
    display: flex;
    font-size: 20px;
    position: relative;
    bottom: 485px;
    margin-left: 1190px;
}
 .par3 p {
    margin-top: -480px;
    font-family: Raleway;
    position: relative;
    left: 1%;
    font-size: 12px;
}
.grp1 .grp {
    width: 7.5%;
    height: 120px;
    position: relative;
    left: 62.50%;
    top: -228px;
}
.grp2 .grp {
    width: 7.5%;
    height: 120px;
    position: relative;
    left: 71.50%;
    top: -352px;
}
.grp3 .grp {
    width: 7.5%;
    height: 120px;
    position: relative;
    left: 80.50%;
    top: -477px;
    padding-left: 5px;
}
.grp4 .grp {
    width: 7.5%;
    height: 120px;
    position: relative;
    left: 89.50%;
    top: -602px;
    padding-left: 5px;
}
@media (max-width: 700px) {
   .sect2 {
    background-image: none;
    flex-wrap: wrap;
    display: block;
    margin-top: 480px;
    margin-left: 65px
   }
   .sec2 {
    margin-top: 155px;
    margin-left: -45px;
    width: 112%;
    height: 515px;
   }
   .sec2 img {
    display: flex;
    margin-top: 18px;
    width: 45%;
    height: 65%;
    padding-left: 20px;
   }
   .par3 h1 {
    margin-left: 150px;
    bottom: 760px;
    text-align: center;
    position: relative;
    float: left;
   }
   .par3 p {
      margin-left: 8px;
      bottom: 275px;
      position: relative;
      float: left;
      text-align: center;
      font-family: Raleway;
   }
   .grp1 .grp {
    display: block;
    flex-wrap: wrap;
    width: 30%;
    height: 130px;
    float: left;
    margin-left: -5px;
    margin-top: -330px;
   }
   .grp2 .grp {
    display: block;
    flex-wrap: wrap;
    width: 30%;
    height: 130px;
    float: left;
    margin-top: 145px;
    margin-left: -365px;
   }
   .grp3 .grp {
    display: block;
    flex-wrap: wrap;
    width: 30%;
    height: 130px;
    float: left;
    margin-left: -111px;
    margin-top: 85px;
   }
   .grp4 .grp {
    display: block;
    flex-wrap: wrap;
    width: 30%;
    height: 130px;
    float: left;
    margin-left: -222px;
    margin-top: 380px;
   }

}
/* section-3 */
.par4 h1 {
    font-family: Open sans;
    font-weight: bold;
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-left: 40%;
}
.par4 p {
    font-family: Raleway;
    margin-left: 35%;
    font-size: 12px;
    text-align: center;
    display: flex;
}
.groupe1 .grp11 {
    width: 18%;
    height: 175px;
    padding-left: 110px;
    padding-top: 45px;
}
.A {
  display: inline-block;
  font-size: 15px;
  margin-left: 110px;
  padding-right: 170px;
}
.B {
    display: inline-block;
    font-size: 15px;
    margin-right: 145px;
    padding-left: 65px;
    padding-top: 16px;
}
@media (max-width: 700px) {
  .par4 h1 {
       margin-left: 190px;
  }
  .par4 p {
    margin-left: 60px;
    font-weight: lighter;
    flex-wrap: wrap;
    font-size: 13px;
  }
  .groupe1 .grp11 {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 225px;
    margin-left: 50px;
    border-radius: 61px;
    padding: 40px;
  } 
  .A {
    position: relative;
    bottom: 946px;
    margin-left: 190px;
    text-align: center;
    padding-bottom: 222px;
    font-size: 18px;
  }
  .B {
    position: relative;
    bottom: 945px;
    margin-left: 119px;
    text-align: center;
    padding-bottom: 210px;
    font-size: 18px;
  }

}
/* section-4 */
.section4 {
    background-image: url(images/chefchaouen.jpg);
    flex-basis: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1010px;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}
.gr {
  height: 1010px; 
  display: flex; 
  flex-basis: 40%; 
  background-color: rgba(0,0,0,0.5); 
  width: 740px;
}

.back {
  height: 1010px; 
  display: flex; 
  flex-basis: 60%; 
  background-color: rgba(56,190,195,0.9); 
  width: 70%;
 } 
.groupe2 .p {
    font-family: Open sans;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    margin-left: 180px;
    margin-top: -742px;
    color: white;
}
.section4 .back {
    margin-top: -1010px;
    margin-left: 740px;
}
#pa1 {
    font-family: Simple Indust Shaded;
    display: flex;
    font-size: 20px;
    text-align: center;
    margin-left: -355px;
    margin-top: 120px;
    color: white;
    font-weight: normal;
}

#cercle1 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: -535px 0px 0px 855px;
}
#cercle2 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: -83px 0px 0px 1240px;
}
#cercle3 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: -80px 0px 0px 1645px;
}
#cercle4 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: 400px 0px 0px 858px;
}
#cercle5 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: -82px 0px 0px 1235px;
}
#cercle6 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    border: 1px solid white;
    margin: -80px 0px 0px 1640px;
}
table td, th {
  border: 0px solid white;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-family: Open sans;
}

#tab1{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2278px;
    left: 883px;
    font-weight: bold;
} 
#tab2{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2278px;
    left: 1268px;
    font-weight: bold;
} 
#tab3{
    text-align: center;
    font-size: 40px;
    position: absolute;
      top: 2280px;
    left: 1673px;
    font-weight: bold;
} 
#tab4{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2765px;
    left: 886px;
    font-weight: bold;
} 
#tab5{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2762px;
    left: 1263px;
    font-weight: bold;
} 
#tab6{
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 2765px;
    left: 1668px;
    font-weight: bold;
} 
#td1 h3 {
  display: flex;
  flex-wrap: wrap;
    margin: -478px 0px 0px 792px;
    position: absolute;
    right: 900px;
}
#td2 h3 {
  display: flex;
  flex-wrap: wrap;
    margin: -485px 0px 0px 0px;
    position: absolute;
    right: 450px;
}
#td3 h3 {
  display: flex;
  flex-wrap: wrap;
  margin: -487px 0px 0px 1590px;
}
#td4 h3 {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px 0px 828px;
}
#td5 h3 {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0px 0px 1195px;
}
#td6 h3 {
  display: flex;
  flex-wrap: wrap;
  margin: -32px 0px 0px 1595px;
}
#td1 p {
  display: flex;
  flex-wrap: wrap;
    margin: -385px 0px 0px 790px;
    position: absolute;
    right: 880px;
    font-size: 22px;
    font-weight: inherit;
}
#td2 p {
  display: flex;
  flex-wrap: wrap;
    margin: -428px 0px 0px 1200px;
    position: absolute;
    right: 490px;
    font-size: 20px;
    font-weight: inherit;
}
#td3 p {
  display: flex;
  flex-wrap: wrap;
    margin: -425px 0px 0px 1595px;
    position: absolute;
    right: 95px;
    font-size: 20px;
    font-weight: inherit;
}    
#td4 p {
  display: flex;
  flex-wrap: wrap;
    margin: 60px 0px 0px 828px;
    position: absolute;
    right: 848px;
    font-size: 20px;
    font-weight: inherit;
}
#td5 p {
  display: flex;
  flex-wrap: wrap;
      margin: 26px 0px 0px 1200px;
    position: absolute;
    right: 475px;
    font-size: 20px;
    font-weight: inherit;
}
#td6 p {
  display: flex;
  flex-wrap: wrap;
    margin: 25px 0px 0px 1598px;
    font-size: 20px;
    font-weight: inherit;
    right: 98px;
    position: absolute;
}
@media (max-width: 700px) {
  .section4 {
    background-image: none;
  }
.back {
   height: 56%; 
  display: flex; 
  flex-basis: 60%; 
  background-color: rgba(56,190,195,0.9); 
    width: 100%;
    position: relative;
    right: 735px;
    bottom: 913px;
    opacity: 80%;
}  
.gr {
    display: block;
    flex-wrap: wrap;
    background-color: #616161;
    width: 105%;
    height: 325px;
    position: absolute;
    top: 3485px;
 }
.gr1 {
    background-image: url(images/window.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 12px;
    bottom: 1124px;
    width: 626px;
    height: 1020px;

} 
.groupe2 .p {
    font-family: Open sans;
    font-weight: bold;
    display: block;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
    color: white;
    position: absolute;
    left: -20px;
    top: 4222px;
}
#pa1 {
  display: block;
  flex-wrap: wrap;
  text-align: center;
    position: relative;
    color: white;
    left: 180px;
    top: -108px;
}

#tab1 {
  display: flex;
  flex-wrap: wrap;
  margin: 1510px 0px 0px -829px;
  font-size: 15px;
}
#tab2 {
  display: flex;
  flex-wrap: wrap;
  margin: 1600px 0px 0px -1215px;
  font-size: 15px;
}
#tab3 {
  display: flex;
  flex-wrap: wrap;
  margin: 1691px 0px 0px -1619px;
  font-size: 15px;
}
#tab4 {
  display: flex;
  flex-wrap: wrap;
  margin: 1304px 0px 0px -832px;
  font-size: 15px;
}
#tab5 {
  display: flex;
  flex-wrap: wrap;
  margin: 1407px 0px 0px -1208px;
  font-size: 15px;
}
#tab6 {
  display: flex;
  flex-wrap: wrap;
  margin: 1496px 0px 0px -1610px;
  font-size: 15px;
}
#cercle1 {
   width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 812px;
    top: -939px;
}
#cercle2 {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 1198px;
    top: -796px;
}
#cercle3 {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 1602px;
    top: -655px;
}
#cercle4 {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 814px;
    top: -990px; 
}
#cercle5 {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 1190px;
    top: -840px;
}
#cercle6 {
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid white;
    position: relative;
    right: 1593px;
    top: -700px;
}
#td1 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -70em;
  left: -758px;
}
#td2 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -604px;
  left: 37px;
}
#td3 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -516px;
  right: 1553px;
}
#td4 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -912px;
    right: 786px;
}
#td5 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -898px;
  right: 1150px;

}
#td6 h3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  font-size: 10px;
  top: -868px;
    right: 1548px;
}
#td1 p {
  display: flex;
  flex-wrap: wrap;
  margin: -1158px 0px 0px 0px;
  position: absolute;
  left: 39px;
  font-size: 12px;
  font-weight: lighter;
  width: 500px;
}
#td2 p {
  display: flex;
  flex-wrap: wrap;
  margin-right: 630px;
  position: relative;
  left: -1162px;
    top: -643px;
  font-size: 12px;
  font-weight: lighter;
}
#td3 p {
  display: flex;
  flex-wrap: wrap;
  margin-right: 345px;
  position: relative;
  left: -1557px;
    top: -555px;
  font-size: 12px;
  font-weight: lighter;
}
#td4 p {
  display: flex;
  flex-wrap: wrap;
  margin-right: 970px;
  position: relative;
 left: -787px;
    top: -962px;
  font-size: 12px;
  font-weight: lighter;
}
#td5 p {
  display: flex;
  flex-wrap: wrap;
  margin-right: 658px;
  position: relative;
      left: -1157px;
    top: -937px;
  font-size: 12px;
  font-weight: lighter;
}
#td6 p {
    display: flex;
    flex-wrap: wrap;
    margin-right: 410px;
    position: relative;
    left: -1551px;
    top: -907px;
    font-size: 11px;
    font-weight: 500;
    width: 380px;
}
} 
/* section5 */
 .sect5 h4{
        font-family: Open sans;
        margin-left: 825px;
        font-size: 20px;
   }

 .iframe{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 305px;
}
.iframe4 {
    position: relative;
    top: 205px;
    right: 404px;
}
@media (max-width: 700px) {
  .sect5 {
    margin-top: -1295px;
  }
  .sect5 h4 {
    margin-left: 230px;
  }
  .iframe {
    position: relative;
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 120px; 
  }
  .iframe4 {
    position: relative;
    top: 0px;
    right: 0px;
}
}
/* section 6 */
.sec6{
    background-image: url(images/fond.png);
    height: 200px;
    width: 100%;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.sec6 .contenu{
    width: 54%;
    margin: auto;
}
.sec6 .contenu h2{
    color: white;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 900;
    margin-left: 20%;
}
.sec6 .contenu p{
    font-size: 18px;
    font-family: Open Sans;
    margin-bottom: 28px;
    margin-left: 20%;
    color: white;
}
.sec6 .contenu form input[type="email"]{
    width: 44%;
    height: 30px;
    border-radius: 8px;
    margin-left: 20%;
    color: #6b6868d1;
}
.sec6 .contenu form a{
    padding: 12px 12px;
    background-color: #357AB4;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: inherit;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

.sec6 .contenu form i{
    margin-right: 10px;
}
@media (max-width: 700px) {
  .sec6 .contenu{
    width: 68%;
    margin-left: -58%;
}
.sec6 .contenu h2{
    color: white;
    font-size: 25px;
    font-family: Open Sans;
    font-weight: 900;
    position: absolute;
    margin-left: 16em;
    margin-top: -1em;
}
.sec6 .contenu p{
    font-size: 18px;
    font-family: Open Sans;
    margin-bottom: 28px;
    position: absolute;
    margin-left: 22em;
    margin-top: 1em;
    color: white;
  }
.sec6 .contenu form a{
    padding: 10px 12px;
    position: absolute;
    top: 488em;
    left: 425px;
   } 
.sec6 .contenu form input[type="email"] {
      width: 130%;
      margin-left: 30em;
      margin-top: 4em;
  }
}
/* Footer */
.section{
    background-color: #FAFAFA;
    
    width: 100%;
  }
  .section .infooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0% 10% 0% 10%;
  }
  .section .infooter .d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section .infooter .d1,.d2,.d3{
          margin-top: 7%;
          margin-bottom: 7%;
      }
  .section .infooter a{
    font-family: Open Sans;
    font-weight: normal;
   color: #AAA9A9;
   text-decoration: none;
  }
  .section .infooter .img{
      width: 200px;
      height: 100px;
  }
  
  .section .infooter .p{
    margin-left: 7%;
    margin-top: 5%;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color: #04151F;
      width: 300px;
      height: 54px;
  
  }
  .section .infooter .QL{
    width: 100%;
    display: flex;
    margin-top: 16%;
  
  }
  .section .infooter .ul2{
  margin-left: 1%;  
  
  }
  .section .infooter .ul1,.ul2{
  width: 146px;

  }
  .section .infooter li{
  list-style: none;
  line-height: 30px;
  text-align: center;  
  }
  .section .infooter h3{
    margin-top: 2%;
    color: #688095;
    font-family: Open Sans ExtraBold;
    font-weight: normal;
    text-align: center;
  }
  .section .infooter p{
    margin-top: 5%;
     margin-bottom: 5%;
    text-align: center;
     font-family: Open Sans;
     font-weight: normal;
     font-size: 20px;
     color:#AAA9A9 ;
     margin-left: 32px;
  }
  .section .infooter .s1,.s2{
      font-size:20px ;
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #2C4458;
      margin-top: 2%;
      margin-left: 47px;
  }
  .section .infooter #mail{
      font-family:Open Sans ExtraBold;
      font-weight:normal; 
      color: #688095;
    }
    .footer{
         background-color: #688095;
         flex-basis: 100%;
         height: 50px; 
         display: flex;
         flex-wrap: wrap;
     }
     .footer span{
         color:#CCCCCC; 
         font-family: Open Sans ;
         font-weight: normal;
  
     }
 .section .infooter .icons #facebook{
    color: blue;
    font-size: 30px;
   }
   .section .infooter .icons #instagram{
    color: #FD1D1D ;
    font-size: 30px;
   }
   .section .infooter .icons #twitter{
    color: #0099FF;
    font-size: 30px;
   }
     .footer .S1{
      float: left;
      padding-left: 105px;
      margin-top: 15px;
      font-family: Open Sans;
      font-weight: normal;
      color: #CCCCCC;
    }
